[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
geopandas = "*"
matplotlib = "*"
plotly = "*"
tabulate = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
